@CHARSET "UTF-8";

	input[type=image] {
		width : 50px;
		height : 50px;
		border : 1px solid blue;
		vertical-align : middle;
	}
	input[type=button], input[type=submit], button { /* button에만 줘도 type=button에 적용 되는가?*/
		height : 35px;
	}
	
	fieldset {
		width : 400px;
	}
	
	label {
		display : inline-block;
		width : 100px;
	}
	
	.gend{
		width : 35px;
	}

	pre {
			margin : 10px;
			border : 1px dotted black;
			background: MediumSeaGreen;
			font-size : 1.3em;
			width : auto;
		}
		
	div {
		height : auto;
		padding : 10px;
		border : 1px solid blue;
	}
	
	
